html {
	font-size: 24px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	color: white;
	background-color: #333;
	margin: 0;
	padding: 0;
}

a, h1 {
	text-align: center;
	padding: 1rem;
	box-sizing: border-box;
	background-color: #222;
}

a {
	color: white;
	text-decoration: none;
	width: 100%;
	display: block;
	transition: background-color 0.3s ease;
}

div {
	display: flex;	
}

div a {
	font-size: 0.5rem;
	width: fit-content;
	padding: 0.5rem;
	flex-grow: 1;
	float: left;
}

a:hover {
	background-color: #444;
}

main {
	width: 30rem;
	margin-left: calc(50vw - 15rem);
}

p {
	margin: 0.5rem 1rem;
	font-size: 0.5rem;
	text-align: center;
	width: 100%;
}
