html {
	font-size: 16px;
}

body {
	--background-color-1: #181818;
	--background-color-2: #111;
	--background-text-color: #fff;
	--header-color: #333;
	--header-text-color: #fff;
	--header-active-color: #444;
	--nav-color: #222;
	--nav-text-color: #fff;
	--nav-active-color: #444;

	font-size: 1rem;
	background: radial-gradient(circle, var(--background-color-1) 0%, var(--background-color-2) 100%);
	color: var(--background-text-color);
}

/********************************* Main ************************************/

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	padding: 1rem;
	background-color: var(--header-color);
	color: var(--header-text-color);
}

nav {
	display: flex;
	background-color: var(--nav-color);
	color: var(--nav-text-color);
	box-shadow: 0 1rem 1rem rgba(0,0,0,0.5);
}

nav button {
	text-align: center;
	flex: 1;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 1rem;
	background-color: var(--nav-color);
	color: var(--nav-text-color);
	transition: 0.3s ease;
}

nav button:hover {
	background-color: var(--nav-active-color);
}

main {
	min-height: calc(100vh - 12rem);
	padding-bottom: 1rem;
}

footer {
	line-height: 2rem;
	text-align: center;
	font-size: 0.8rem;
}

/******************************** Common ***********************************/

h2 {
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 0.5rem;
	margin-top: 1rem;
}

h3 {
	font-weight: bold;
	font-size: 1.2rem;
	padding: 0.5rem;
}

a {
	color: unset;
	text-decoration: none;
}

p {
	margin: 0.5rem 0;
	text-align: center;
}

.cards li {
	list-style: none;
	padding: 0.5rem;
	margin-top: 2rem;
	border-radius: 0.5rem;
	background: linear-gradient(var(--header-color), transparent);
	color: var(--header-text-color);
	transition: 0.3s ease;
}
.cards li:hover {
	background-color: var(--header-active-color);
}

.cards h3 {
	padding: 0 0 1rem;
	font-size: 1.5rem;
	transition: 0.3s ease;
}

.cards p {
	text-align: left;
}

#home, #games, #various {
	max-width: 60rem;
	margin: 0 auto;
}

/********************************* Home ************************************/

#home h3 {
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: 2rem;
	border-radius: 0.5rem;
	background: linear-gradient(to right, transparent, var(--header-color), transparent);
	color: var(--header-text-color);
	transition: 0.3s ease;
}
#home h3:hover {
	background-color: var(--header-active-color);
}

/******************************** Games ************************************/

/********************************* Art *************************************/

#art ol {
	display: flex;
	overflow: hidden;
	margin-bottom: 2rem;
	mask-image: linear-gradient(to right, transparent calc(50% - 60rem), white calc(50% - 30rem), white calc(50% + 30rem), transparent calc(50% + 60rem));
}

#art li {
	display: flex;
	flex-shrink: 0;
	width: 60rem;
	transition: 0.3s ease;
}

#art img {
	height: 30rem;
	max-width: 58rem;
	margin: 0 auto;
}

/******************************* Various ***********************************/
