/******************************** Reset ***********************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* My additions */
	box-sizing: border-box;
}
/* Also mine */
button, input, textarea, select
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
	font-size: 0.8rem;
	box-sizing: border-box;
}
button {
	cursor: pointer;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 14px;
}
html{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Also mine */
a {
	text-decoration: none;
	color: unset;
}

/****************************************/

input, select, button {
	padding: 0.2em;
	height: 1.5rem;
}

button {
	color: inherit;
	background-color: transparent;
	transition: 0.3s ease;
	white-space: nowrap;
}

button:hover {
	background-color: rgba(255,255,255,0.3);
	transition: 0.3s ease;
}

.active{
	opacity: 1;
	transition: 0.3s ease;
}
.inactive{
	opacity: 0.5;
	transition: 0.3s ease;
}
.inactive:hover{
	opacity: 0.8;
	transition: 0.3s ease;
}

button.icon{
	font-size: 1rem;
	padding: 0.25em;
	height: 2em;
}

span.icon{
	position: relative;
	height: 0;
}

html{
	font-size: 16px;
}

@media (max-width: 720px), (orientation: portrait) {
	div.layout {
		grid-template-rows: 3rem calc(100vh - 3rem) 0 !important;
		grid-template-columns: 0 100vw !important;
		grid-template-areas:
			"navigation header"
			"navigation collection"
			"navigation selection" !important;
	}

	nav{
		position: absolute;
		padding-top: 3rem;
		width: 12rem;
	}
	nav.mobile-hidden{
		display: none;
	}
	
	button.mobile-menu-button {
		display: unset;
	}
}

@media (min-width: 721px) and (orientation: landscape) {
	button.mobile-menu-button {
		display: none;
	}
}

::-webkit-scrollbar {
	height: 0.5rem;
}
 
::-webkit-scrollbar-track {
	background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
	background-color: #555;
}