input, select, button {
	padding: 0.2em;
	height: 1.5rem;
	color: inherit;
}

button {
	background-color: transparent;
}

button.icon{
	padding: 0.25em;
	height: 2em;
}

span.icon{
	position: relative;
	height: 0;
}

html{
	font-size: 16px;
}

@media (max-device-width: 720px){
	html{
		font-size: 48px;
	}
}

@media (orientation: portrait) {
	div.layout {
		grid-template-rows: 2.5rem calc(100vh - 2.5rem) 0 !important;
		grid-template-columns: 0 100vw !important;
		grid-template-areas:
			"navigation header"
			"navigation content"
			"navigation selection" !important;
	}
}

.dark-text{
	color: black;
}
.dark-symbol{
	filter: invert(1)
}
.light-text{
	color: white;
}

::-webkit-scrollbar {
	height: 0.5rem;
}
 
::-webkit-scrollbar-track {
	background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
	background-color: #555;
}