input, select, button {
	padding: 0.2em;
	height: 1.5rem;
}

button {
	background-color: transparent;
}

button.icon{
	padding: 0.25em;
	height: 2em;
}

span.icon{
	position: relative;
	height: 0;
}

html{
	font-size: 16px;
}